<section class="bg-light pt-5 text-secondary">
  <h1 class="display-4 fw-bold mb-3 text-center text-dark">Otro tipo de mapas</h1>
  <div class=" bg-white mb-n5 p-3 shadow" style="position: relative;">
    <div class="map-container">

      <div class="map-frame">

        <div id="map" ></div>

      </div>

    </div>
  </div>

  <div class="container">
    <div class="align-items-center row">
      <div class="col-lg-6 mb-5">
        <p class="fw-light lead mb-4">Posición en el mapa</p><button (click)="getLocation()" class="btn btn-primary">Mi Ubicación</button>
      </div>
      <div class="col-lg-6">
      </div>
    </div>
  </div>
</section>
